.blockQuoteClasses {
    vertical-align: top;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    text-align: justify;
}
.testing {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
    margin-top: 10px
    
    
}
.aboutHeaderOne {
    margin-top: 0;
    margin-bottom: 35px;
    /* color: #dec2eb; */
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

table { 
    margin-left: auto; 
    margin-right: auto; 
    text-align: justify;
    font-size: 24px; 
    height: 200%; 
    table-layout: fixed; 
    margin-left: 200px;
    margin-right: 200px;
} 

td { 
    /* border: 1px solid black;  */
    text-align: center; 
    padding: 10px; 
    text-align: justify;
} 

.workingBlock{
    padding-top: 56px;
    padding-bottom: 56px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    text-align: center;
}
